@import "tailwindcss";

@theme {
  --color-swiss-red: #e3000f;
  --color-swiss-dark: #1a1a1a;
  --color-swiss-gray: #f5f5f5;
}

body {
  background-color: var(--color-swiss-gray);
  color: var(--color-swiss-dark);
  font-family: 'Inter', sans-serif;
}
